<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="login">
                    <match url="^login$" negate="false" />
                    <action type="Rewrite" url="/login-page.asp" />
                </rule>
                <rule name="homepage">
                    <match url="^homepage" />
                    <action type="Rewrite" url="/homepage.asp" />
                </rule>
                <rule name="loginexe" stopProcessing="true">
                    <match url="^loginexe" />
                    <action type="Rewrite" url="/login.asp" />
                </rule>
                <rule name="news">
                    <match url="^news" />
                    <action type="Rewrite" url="news.asp" />
                </rule>
                <rule name="add-news">
                    <match url="^add-news" />
                    <action type="Rewrite" url="news-add.asp" />
                </rule>
                <rule name="categories-management">
                    <match url="^cate-manage" />
                    <action type="Rewrite" url="categories-management.asp" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="homepage.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
